<h1>Creating matches</h1>
<p>drawings.count = <%= @drawings.count %></p>
<table>
<% @drawings.each do |match| %>
    <tr>
      <td><%= match.name %></td>
      <td><%= match.match %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Return to Users', users_path %>
